.navigation-delegate {
    .content-enter {
        transform: translate(100%);
        display: inline-block;
    }

    .content-enter.content-enter-active {
        transform: translate(0%);
        transition: all 400ms ease-in-out;
    }

    .content-leave {
        opacity: 0;
    }
}
