.navigation-delegate {
    .content-enter {
        transform: translate(100%);
    }

    .content-enter.content-enter-active {
        transform: translate(0%);
        transition: all 400ms ease-in-out;
    }

    .content-leave {
        display: none;
    }
}
