@import '../variables';

.departures {
    $toggle-height: 3.125rem;

    .direction-toggle {
        color: $ui-color-4;
        text-align: center;
        font-size: 1.25em;
        height: $toggle-height;
        line-height: $toggle-height;

        .toggle-btn {
            display: inline-block;
            position: relative;
            overflow: hidden;
            width: 50%;

            &:first-child {
                border-bottom: 2px solid transparent;

                &.selected-toggle {
                    border-bottom-color: $ui-color-2;
                }

                .ink {
                    background: $ui-color-2;
                }
            }

            &:nth-child(2) {
                border-bottom: 2px solid transparent;

                &.selected-toggle {
                    border-bottom-color: $ui-color-3;
                }

                .ink {
                    background: $ui-color-3;
                }
            }

            a {
                position: relative;
                overflow: hidden;
            }
        }

        .ink {
            display: block; position: absolute;
            border-radius: 100%;
            transform: scale(0);

            &.animate {
                animation: ripple 0.65s linear;
            }
        }

        @keyframes ripple {
        	   100% {
                opacity: 0;
                transform: scale(2.5);
            }
        }
    }

    .stop-name {
        color: $ui-color-4;
        text-align: center;
        position: fixed;
        width: 100%;
        padding: 7px;
        background-color: rgba($ui-color-1, .9);
        border-top: 1px solid $ui-color-1;
        bottom: 0;
        z-index: 9999;
    }

    ul {
        margin: 0;
        padding: 0 20px;
        list-style: none;
        height: calc(100vh - #{$nav-bar-height} - #{$toggle-height});

        .route-preview {
            padding: 1.2em 0;

            @each $line, $bgcolor in $line-colors {
                .line-#{$line} {
                    height: 6rem;
                    width: 6rem;
                    line-height: 6rem;
                    text-align: center;
                    border-radius: 3rem;
                    font-size: 4.25em;
                    background-color: map-get($line-colors, $line);
                    font-family: $secondary-font;
                    margin: auto;

                    @if $line == N or $line == Q or $line == R or $line == W{
                        color: #000;
                    } @else {
                        color: #FFF;
                    }

                }
            }
        }

        li:last-child {
            padding-bottom: 1.7em;
        }

        .departure-time {
            text-align: center;
            color: $ui-color-4;
            padding-top: 3px;

            &.close-departure {
                color: $ui-accent-red;
            }

            i {
                font-size: .85em;
                padding-left: 3px;
            }
        }

        .express-indicator {
            color: $ui-color-4;
            text-align: center;
            position: relative;
            top: -2em;
            font-size: 0.8em;
            height: 0;
        }
    }
}
