@import '../variables';
@import '../animations';

html, body {
    height: 100vh;
    margin: 0;
    padding:0;
    font-family: $primary-font;
    background: radial-gradient(circle, mix($ui-color-3, $ui-color-1, 20%), $ui-color-1);
    background-color: mix($ui-color-3, $ui-color-1, 5%);

    overflow: auto;
}

.no-scroll {
    overflow: hidden;
}

#app {
    height: 100vh;
}

.layout-wrapper {
    height: calc(100vh - #{$nav-bar-height});
    padding-top: $nav-bar-height;

    .load-mask {
        background: radial-gradient(circle, mix($ui-color-3, $ui-color-1, 20%), $ui-color-1);
        position: fixed;
        z-index: 9;
        display: flex;
        top: 3.3rem;
        right: 0;
        bottom: 0;
        left: 0;
        flex-direction: column;
        justify-content: center;
        animation: .4s show steps(1);

        div {
            margin: auto;
            width: 6em;

            .dot {
                height: 1.5em;
                width: 1.5em;
                margin-right: 10px;
                border-radius: .75em;
                background-color: #CECECE;
                display: inline-block;
                transform: scale(0);
                animation: grow 1.2s linear infinite;
            }

            .dot:first-child {
                animation-delay: .4s;
            }

            .dot:nth-child(2) {
                animation-delay: .8s;
            }

            .dot:last-child {
                animation-delay: 1.2s;
                margin-right: 0;
            }
        }
    }
}

.splash-wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .desktop-splash {
        color: $ui-color-4;
        height: 23em;
        width: 26.6em;
        text-align: center;
        margin: auto;

        i {
            font-size: 15em;
        }

        .site-name {
            font-size: 5em;
            margin-top: -.6em;
        }
        .unsupported-msg {
            font-size: 1.5em;
        }
    }
}
