@import '../variables';
@import '../mixins';

.stops {
    font-size: 1.2em;

    input {
        display: inline;
        width: 100%;
        font-size: 1em;
        box-sizing: border-box;
        border-radius: 0;
        margin-top: 10px;
        border: none;
        font-family: $primary-font;
    }

    .geosuggest {
        margin: 10px 20px;
        height: 40px;

        &__suggests {
            position: absolute;
            background-color: #FFF;
            z-index: 9997;
            height: inherit;
            width: calc(100% - 40px);
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            color: #000;
            padding: 0;
            margin-top: -2px;

            &--hidden {
                max-height: 0;
                overflow: hidden;
                border-width: 0;
            }

            li {
                padding: 10px;
                border-bottom: 1px solid $ui-color-gray-1;
            }

            li:first-child {
                border: 1px solid $ui-color-gray-1;
            }

            li:last-child {
                border: none;
            }
        }

        &__item--active {
            background: #267dc0;
            color: #fff;
        }
    }

    .ion-close {
        @include no-select;
        position: absolute;
        right: 1.05em;
        margin-top: .75em;
        color: $ui-color-gray-2;
        width: 1.5em;
        text-align: center;
        background-color: #FFF;
        height: 1.3em;

        &:active {
            background-color: yellow;
        }
    }

    //.ion-android-locate {
    //    font-size: 1.2em;
    //    color: #BDBDBD;
    //    position: absolute;
    //    top: 2.9em;
    //    left: 14em;

    //    &.location-selected {
    //        color: $ui-accent-blue;
    //    }
    //}

   ul {
       margin: 0;
       padding: 0 20px;
       list-style: none;
       color: $ui-color-4;
       height: calc(100vh - #{$nav-bar-height} - 60px);

       .stop-item {
           height: 2.7em;


           padding: 3px 10px 8px;
           //padding: 3px 0 8px;
           border-bottom: 1px solid mix(#FFF, $ui-color-1, 20%);
           position: relative;
           overflow: hidden;

           &.more-icon {
               border-bottom: none;
               text-align: center;
               padding-bottom: 2em;

               i {
                   font-size: 2em;
               }

               span {
                   vertical-align: super;
                   padding-left: 5px;
               }
           }

           a {
               position: relative;
               overflow: hidden;
           }
       }
   }

   .stop-distance {
       float: right;
       padding-top: 1px;
   }

   .route-preview {
       padding-top: 3px;

       @each $line, $bgcolor in $line-colors {
           .line-#{$line} {
               display: inline-block;
               height: 1.5rem;
               width: 1.5rem;
               line-height: 1.6rem;
               text-align: center;
               border-radius: 0.75rem;
               margin-right: .4em;
               background-color: map-get($line-colors, $line);
               font-family: $secondary-font;
               font-size: .9em;

               @if $line == N or $line == Q or $line == R or $line == W{
                   color: #000;
               } @else {
                   color: #FFF;
               }

           }
       }
   }

   .ink {
       display: block; position: absolute;
       background: rgba($ui-color-2, 0.5);
       border-radius: 100%;
       transform: scale(0);

       &.animate {
           animation: ripple 0.65s linear;
       }
   }

   @keyframes ripple {
   	   100% {
           opacity: 0;
           transform: scale(2.5);
       }
   }
}
