@import '../../variables';

.status-item {
    height: 2em;

    .status, .route-preview {
        display: inline-block;
    }

    .status-preview {
        position: relative;
    }

    .status {
        position: absolute;
        right: 40px;
    }

    .delays {
        color: $ui-accent-red;
    }

    .service-change, .planned-work {
        color: $ui-accent-yellow;
    }
}
