@import '../variables';

.departures {
    .direction-toggle {
        color: $ui-color-4;
        text-align: center;
        font-size: 1.25em;
        height: 2em;
        line-height: 2em;

        .toggle-btn {
            display: inline-block;
            width: 50%;

            &:first-child {
                border-bottom: 0 solid $ui-color-2;
            }

            &:nth-child(2) {
                border-bottom: 0 solid $ui-color-3;
            }
        }

        .selected-toggle {
            border-bottom-width: 2px !important;
        }
    }

    ul {
        margin: 0;
        padding: 0 20px;
        list-style: none;
        height: 100vh;

        .line-preview {
            margin: 1.2em 0;

            @each $line, $bgcolor in $line-colors {
                .line-#{$line} {
                    height: 6rem;
                    width: 6rem;
                    line-height: 6rem;
                    text-align: center;
                    border-radius: 3rem;
                    font-size: 3em;
                    background-color: map-get($line-colors, $line);
                    margin: auto;

                    @if $line == N or $line == Q or $line == R or $line == W{
                        color: #000;
                    } @else {
                        color: #FFF;
                    }

                }
            }
        }

        .departure-time {
            text-align: center;
            color: #FFF;
        }
    }
}
