@import '../variables';

.stops {
    height: 100vh;
    font-size: 1.2em;
    margin-top: $nav-bar-height;

    input {
        display: inline;
        width: 100%;
        font-size: 1em;
        box-sizing: border-box;
        border-radius: 0;
        margin-top: 10px;
        font-family: $primary-font;
    }

    .ion-android-locate {
        display: inline;
        position: absolute;;
        font-size: 1.2em;
        margin-top: .6em;
        margin-left: -26px;
        color: #BDBDBD;
    }

   ul {
       margin: 0;
       padding: 0 20px;
       list-style: none;
       color: $ui-color-4;
       height: 100vh;

       li {
           padding: 3px 10px 8px;
           border-bottom: 1px solid mix(#FFF, $ui-color-1, 20%);
           position: relative;
           overflow: hidden;

           &.more-icon {
               border-bottom: none;
               text-align: center;

               i {
                   font-size: 2em;
               }

               span {
                   vertical-align: super;
                   padding-left: 5px;
               }
           }

           a {
               position: relative;
               overflow: hidden;
           }
       }
   }

   .stop-distance {
       float: right;
       padding-top: 1px;
   }

   .line-preview {
       padding-top: 3px;

       @each $line, $bgcolor in $line-colors {
           .line-#{$line} {
               display: inline-block;
               height: 1.5rem;
               width: 1.5rem;
               line-height: 1.5rem;
               text-align: center;
               border-radius: 0.75rem;
               margin-right: .4em;
               background-color: map-get($line-colors, $line);
               font-family: $secondary-font;
               font-size: .9em;

               @if $line == N or $line == Q or $line == R or $line == W{
                   color: #000;
               } @else {
                   color: #FFF;
               }

           }
       }
   }

   .ink {
       display: block; position: absolute;
       background: rgba($ui-color-2, 0.5);
       border-radius: 100%;
       transform: scale(0);

       &.animate {
           animation: ripple 0.65s linear;
       }
   }

   @keyframes ripple {
   	   100% {
           opacity: 0;
           transform: scale(2.5);
       }
   }
}
