@import 'animations';

@mixin no-select {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin ink($bgcolor) {
    display: block;
    position: absolute;
    background: $bgcolor;
    border-radius: 100%;
    transform: scale(0);

    &.animate {
        animation: ripple 0.65s linear;
    }
}
