@import 'variables';

html, body {
    height: 100vh;
    margin:0;
    padding:0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background: radial-gradient(circle, mix($ui-color-3, $ui-color-1, 20%), $ui-color-1);
}

#app {
    height: 100vh;
}

.layout-wrapper {
    height: 100vh;
    margin-top: $nav-bar-height;
}
