@import 'variables';

html, body {
    height: 100vh;
    margin:0;
    padding:0;
    //overflow: auto;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#app {
    height: 100vh;
}

.layout-wrapper {
    height: 100vh;
    margin-top: $nav-bar-height;
}
