@import '../../variables';

.route-preview {
    padding-top: 3px;

    @each $line, $bgcolor in $line-colors {
        .line-#{$line} {
            display: inline-block;
            height: 1.5rem;
            width: 1.5rem;
            line-height: 1.6rem;
            text-align: center;
            border-radius: 0.75rem;
            margin-right: .4em;
            background-color: map-get($line-colors, $line);
            font-family: $secondary-font;
            font-size: .9em;

            @if $line == N or $line == Q or $line == R or $line == W {
                color: #000;
            } @else {
                color: #FFF;
            }

            @if $line == SIR {
                font-size: .55em;
            }
        }
    }
}
