@import '../../mixins';
@import '../../variables';

.stops-search-input {
    display: inline;
    font-size: 1em;
    box-sizing: border-box;
    border-radius: 0;
    margin-top: 10px;
    border: none;
    font-family: $primary-font;
    margin: 10px 20px;
    padding: 0 10px;
    height: 40px;
    width: calc(100% - 40px);
}

.stops-search-container {
    border: 1px solid $ui-color-gray-2 !important;
    width: calc(100% - 40px) !important;
    margin: -11px 19px;

    > div {
        padding: 5px 10px !important;
    }

    > div:not(last-child) {
        border-bottom: 1px solid $ui-color-gray-1;
    }

    .suggestion-item {
        .ion-location {
            padding-right: 10px;
        }

        small {
            margin-left: 19px;
        }
    }
}

.ion-close {
    @include no-select;
    position: absolute;
    right: 23px;
    margin-top: 1em;
    color: $ui-color-gray-2;
    width: 1.5em;
    text-align: center;
    background-color: #FFF;
    height: 1.3em;
    z-index: 999;

    &:active {
        background-color: #FFF;
    }
}
